*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #020d17;
  --color-primary-light: #051320;
  --color-secondary: #f1c40f;
  --color-button: #f1c40f;
  --color-button-light: #a98b14;
  --outer-padding: 3em;
  --outer-margin: 3em;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--color-primary-light);
  color: #fff;
}

#root {
  display: grid;
  grid-auto-rows: 80px 1fr 80px;
}

a {
  text-decoration: none;
  color: inherit;
}

/********************* HEADER STYLES **********************/

.header--container {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  color: #fff;
  padding-inline: var(--outer-padding);
}

.header--container .logo a {
  font-size: 2.5em;
  font-weight: 500;
}

.active {
  color: var(--color-secondary);
  text-decoration: underline;
  font-weight: 600;
}

.header--container .logo:hover {
  text-decoration: underline;
}

.navbar {
  margin-left: auto;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 1em;
  list-style-type: none;
  color: #fff;
}

.navbar ul li:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}

/********************* MAIN STYLES **********************/

.main--container {
  min-height: calc(100vh - 160px);
}

/*-------------------------- Index.html/shows.html Styles ------------------------------*/
/* Now Playing Sections Styles */

.now-playing-container {
  display: grid;
  grid-template-rows: 300px;
  place-content: center;
  background: url('../images/showcase-bg.jpg');
  background-size: cover;
  color: #fff;
}

.now-playing-container h2 {
  align-self: center;
}

/* Search Movies Styles */

.search-movies {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 2em;
}
.search-movies-container {
  width: 450px;
  display: flex;
  align-items: center;
}
.search-movies-container form {
  flex-grow: 1;
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.search-movies-container form .radio-controls-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.search-movies-container form .search-query-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 0.4em;
}

.search-query-container {
  height: 40px;
}

.search-query-container #search-query {
  text-indent: 0.5em;
  border: none;
  background-color: inherit;
  height: 39px;
  outline: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
}

.search-query-container .search-btn {
  background-color: var(--color-secondary);
  border-radius: 3px;
  border: none;
}

.search-query-container .search-btn:hover {
  background-color: var(--color-button-light);
  cursor: pointer;
}

/* Popular Movies/TV-Shows Styles */

.popular-movies,
.popular-shows,
.query-results {
  padding-inline: var(--outer-padding);
}

.popular-movies-container,
.popular-shows-container,
.query-results-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
  min-height: 300px;
}

:is(
    .popular-movies-container,
    .popular-shows-container,
    .query-results-container
  )
  h2 {
  text-align: center;
}

.movie-cards-container,
.show-cards-container,
.query-result-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  background-color: #253e58;
  padding: 0.5em;
  border-radius: 3px;
}

.card:hover {
  transform: scale(1.02);
  background-color: #a98b14;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 350px;
  flex-grow: 1;
}

.card p:first-of-type {
  font-weight: 700;
}

.card p:first-of-type:hover {
  text-decoration: underline;
}

.card p:last-of-type {
  font-size: 0.9em;
}

/*-------------------------- Movie-Details.html/TV-Details Styles ------------------------------*/
.movie-details-container,
.show-details-container {
  padding-inline: var(--outer-padding);
  padding-block: var(--outer-padding);
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: calc(100vh - 160px);
}

:is(.back-to-movies-btn-container, .back-to-shows-btn-container) button {
  background-color: var(--color-primary);
  border: none;
  outline: 1px solid #fff;
  color: inherit;
  padding: 0.8em 1.8em;
  border-radius: 3px;
  font-size: 0.9em;
}

:is(.back-to-movies-btn-container, .back-to-shows-btn-container) button:hover {
  background-color: #a98b14;
  text-decoration: underline;
}

.details-container {
  display: flex;
  gap: 3em;
  height: 100%;
}

.details-container .movie-image-container,
.details-container .show-image-container {
  height: 100%;
}

.movie-image-container img,
.show-image-container img {
  height: 0;
  min-height: max(300px, 100%);
}

.details-container > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-block: 2em;
}

.details-container .movie-description,
.details-container .show-description {
  text-align: justify;
}

.movie-genres-list,
.show-genres-list {
  list-style-type: none;
}

.genres-container {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.genres-container > p {
  font-weight: 600;
}

/****************************  STYLES ******************************/
.spinner {
  align-self: center;
  justify-self: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

/********************* FOOTER STYLES **********************/

.footer--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: var(--color-primary);
  color: #fff;
  padding-inline: var(--outer-padding);
  font-size: 1.3em;
}

.footer--container .social-links {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.footer--container .social-links a:hover {
  color: var(--color-secondary);
}

/********************* MEDIA QUERIES **********************/

@media (min-width: 1200px) {
  .movie-cards-container,
  .show-cards-container,
  .query-result-cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(450px, fit-content);
  }
  .card img {
    height: 85%;
  }
}
@media (max-width: 1200px) {
  .movie-cards-container,
  .show-cards-container,
  .query-result-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(400px, fit-content);
  }
  .card img {
    height: 85%;
  }
}

@media (max-width: 900px) {
  .movie-cards-container,
  .show-cards-container,
  .query-result-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(400px, fit-content);
  }
  .card img {
    height: 85%;
  }
  .movie-details-container,
  .show-details-container,
  .query-result-cards-container {
    height: fit-content;
  }
  .details-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 100%;
  }
  .details-container .movie-image-container,
  .details-container .show-image-container {
    height: 350px;
  }
  .details-container > div:last-child {
    padding-block: 0;
  }
}

@media (max-width: 700px) {
  .movie-cards-container,
  .show-cards-container,
  .query-result-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(400px, fit-content);
  }
  .card img {
    height: 85%;
  }
}

@media (max-width: 250px) {
  .movie-cards-container,
  .show-cards-container,
  .query-result-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
  }
  .card img {
    height: auto;
  }
}
